.menu {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .menu-logo {
    height: 100px;
    width: 100px;
    padding-left: 10px;

    .logo {
      height: 100px;
      width: 100px;
    }

  }

  .menu-links{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .menu-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
